/*Piggy Reader
author @huntbao*/

.pr-searchbox-wrap {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000 !important;
}

.pr-searchbox-wrap.after-search {
    top: 2em !important;
    right: auto !important;
    left: 3em !important;
}

.pr-searchbox-wrap.after-search .pr-search-box{
    margin: auto;
}

.pr-search-box {
    border: 1px solid #ccc;
    padding: 4px 8px;
    margin: 0 auto;
    font-size: 14px;
    background: url("chrome-extension://__MSG_@@extension_id__/css/images/logo.png") no-repeat 99%;
}

.pr-search-box:focus {
    width: 20em;
    opacity: 1;
}

.search-result-wrap {
    display: flex;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    padding: 5em 0 0;
    background-color: #fff;
    min-height: 100%;
}

.search-result-wrap .mod-search-result {
    flex: 1;
    padding: 3em;
    background-color: #fff;
    overflow: hidden;
}

.mod-search-result {
    font-weight: normal;
    font-family: arial, verdana, sans-serif;
}

.mod-search-result iframe {
    width: 100%;
    min-height: 1000px;
    overflow: hidden;
}