/*Piggy Reader
author @huntbao*/

.pr-searchbox-wrap {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000 !important;
}

.pr-searchbox-wrap.after-search {
    top: 1em !important;
    right: auto !important;
    left: 3em !important;
}

.pr-searchbox-wrap.after-search .pr-search-box{
    margin: auto;
}

.pr-search-box {
    border: 1px solid #ccc;
    padding: 4px 8px;
    margin: 0 auto;
    font-size: 14px;
    background: url("chrome-extension://__MSG_@@extension_id__/css/images/logo.png") no-repeat 99%;
}

.pr-search-box:focus {
    width: 20em;
    opacity: 1;
}

.search-result-wrap {
    display: flex;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    padding: 5em 0 0;
    background-color: #fff;
    min-height: 100%;
}

.search-result-wrap .mod-search-result {
    flex: 2;
    padding: 3em;
    background-color: #fff;
    overflow: hidden;
}

.search-result-wrap .mod-search-result-ph {
    flex: 1;
}

.mod-search-result {
    font-weight: normal;
    font-family: arial, verdana, sans-serif;
}

.mod-search-result > div {
    margin-bottom: 2em;
    max-width: 500px;
}

.mod-search-result .result-item {
    word-wrap: break-word;
    margin: 0 0 20px 0;
}

.mod-search-result .result-title:link {
    color: #00c;
    font-size: 16px;
}

.mod-search-result .result-title:visited {
    color: #551a8b;
    font-size: 16px;
}

.mod-search-result .result-durl {
    font-size: 13px;
    margin: 0;
    color: #21883b;
}

.mod-search-result .result-desc {
    font-size: 13px;
    margin: 0;
}

.mod-search-result .result-title em,
.mod-search-result .result-title b,
.mod-search-result .result-desc em,
.mod-search-result .result-desc b {
    font-style: normal;
    font-weight: normal;
    color: #c00;
}

.mod-result-pagination-btn {
    font-size: 14px;
    text-align: right;
    margin: 1em 0;
}

.mod-related-search {
    font-size: 12px;
}

.mod-related-search a:link{
    color: #00c;
    margin: 0 0 0 12px;
}