/*Piggy Reader
author @huntbao*/

html {
    height: 100%;
    color: #333;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font: 18px/1.5 Georgia, "微软雅黑";
    color: #333;
    text-align: left;
    background: #a2a749;
    overflow-x: hidden;
}

body.chinese-article {
    font-weight: bold;
    font-family: "楷体_GB2312", "仿宋_GB2312", "宋体";
}

a:visited, a:link {
    color: #06c;
    text-decoration: none;
}

a:hover {
    color: #c00;
    text-decoration: underline;
}

.jz-sider {
    position: fixed;
    right: 0;
    top: 12px;
    bottom: 0;
    width: 8%;
}

.jz-sider.hover .jz-closebtn,
.jz-sider.hover .jz-editbtn,
.jz-sider.hover .jz-printbtn,
.jz-sider.hover .jz-helpbtn {
    opacity: 1;
}

.jz-actionbtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0 0 20px;
    position: absolute;
    right: 20px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1px;
    -webkit-transition: opacity .18s;
    transition: opacity .18s;
    border-radius: 50%;
}

.jz-actionbtn:hover {
    border-color: #ccc;
    background-color: #fff;
}

.jz-closebtn {
    background-image: url(images/close.png);
    top: 0;
    opacity: 0;
}

.jz-editbtn {
    background-image: url(images/edit.png);
    top: 60px;
    opacity: 0;
}

.jz-printbtn {
    background-image: url(images/print.png);
    top: 120px;
    opacity: 0;
}

.jz-helpbtn {
    background-image: url(images/help.png);
    top: 180px;
    opacity: 0;
}

.prettyprint {
    background-color: #efefef;
    padding: 0 4px !important;
}

.jz-title {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 20px 0;
    text-align: center;
}

.jz-subtitle {
    text-align: right;
    font-size: 12px;
    margin-top: -20px;
}

.jz-subtitle .author {
    margin-left: 4px;
}

.jz-subtitle .date {
    margin-right: 4px;
}

.jz-contentwrap {
    width: 768px;
    margin: 0 auto;
    padding: 12px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 .5em #000;
}

.jz-article {
    padding-bottom: 30px;
    word-wrap: break-word;
    overflow: hidden;
}

.jz-loading-tip {
    background: url(images/loading.gif) no-repeat;
    padding-left: 40px;
    line-height: 33px;
}

.jz-article img {
    max-width: 100%;
    display: block;
}

.jz-addcontent {
    margin-top: 20px;
}

.jz-stitle {
    font-size: 12px;
    font-family: tahoma;
    padding: 2px 4px;
    background-color: #f7f7f7;
    margin: 36px 0 12px;
    color: #999;
}

.jz-stitle a:link, .jz-stitle a:visited {
    color: #999;
    text-decoration: none;
}

.jz-stitle a:hover {
    color: #c00;
    text-decoration: underline;
}

.jz-author .jz-stitle a:link,
.jz-author .jz-stitle a:visited {
    color: #f00;
}

.jz-pagenum {
    text-align: right;
    border-top: 1px solid #666;
    padding-top: 4px;
}

.jz-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
}

.jz-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 2;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.jz-modal .jz-modal-hd {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background: url(images/32x32.png) no-repeat 9px 9px;
    text-indent: 32px;
}

.jz-modal .jz-modal-hd h3 {
    margin: 0;
    line-height: 30px;
}

.jz-modal .jz-modal-hd .close {
    float: right;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.jz-modal .jz-modal-hd .close:hover {
    opacity: 0.4;
}

.jz-modal .jz-modal-bd {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}

.jz-highlight-link:link,
.jz-highlight-link:visited {
    color: #c00;
    text-decoration: underline;
    font-style: italic;
}

.jz-clipfailed-tip {
    font-style: italic;
    font-size: 14px;
}