/*Piggy Reader
author @huntbao*/
.jz-mod-dict-layer {
    width: 400px;
    position: absolute;
    -webkit-transition: opacity .38s;
    transition: opacity .38s;
    opacity: 0;
    z-index: 2147483647 !important;
    text-align: left !important;
    color: #000 !important;
    font-size: 14px !important;
    text-shadow: none !important;
    line-height: 22px !important;
}

.jz-mod-dict-layer.jz-opacity-ani {
    opacity: 1;
}

.jz-mod-dict-layer .jz-arrow {
    position: relative;
    height: 20px;
    overflow: hidden;
    z-index: 2;
}

.jz-mod-dict-layer .jz-arrow-shadow {
    -webkit-box-shadow: 1px 1px 6px 0 #777;
    -webkit-transform: rotate(45deg);
    background-color: #fffefd;
    border: 1px solid #acacac;
    height: 30px;
    width: 30px;
    left: 182px;
    position: absolute;
    top: 16px;
}

.jz-mod-dict-layer .jz-layer-content {
    -webkit-box-shadow: 1px 1px 3px 0 #acacac;
    border: 1px solid #acacac;
    border-radius: 4px;
    position: relative;
    top: -1px;
    z-index: 1;
    max-height: 300px;
    overflow: auto;
    word-wrap: break-word;
    background: -webkit-linear-gradient(top, rgba(255, 254, 253, .99), rgba(238, 238, 238, .99));
    padding: 1px;
}

.jz-mod-dict-layer .jz-layer-content-wrap {
    margin: 20px;
}

.jz-mod-dict-layer .jz-trans-more {
    border-top: 1px solid rgba(204, 204, 204, .9);
    border-bottom: 1px solid rgba(255, 255, 255, .9);
    width: 50%;
    margin: 8px 0;
}

.jz-dict-layer-bottom .jz-arrow {
    top: -2px;
}

.jz-dict-layer-bottom .jz-arrow-shadow {
    top: -25px;
    background-color: rgba(238, 238, 238, .99);
    border: none;
}