/*Piggy Reader
author @huntbao*/
#jizhureader-iframe {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    max-height: none !important;
    top: 0 !important;
    bottom: 0 !important;
    left: -100%;
    z-index: 2147483647 !important;
}

html.jizhureader-beforereader,
html > body.jizhureader-beforereader,
body.jizhureader-beforereader {
    position: static !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

html.jizhureader-reader,
html > body.jizhureader-reader,
body.jizhureader-reader {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body.jizhureader-beforereader object,
body.jizhureader-beforereader embed,
body.jizhureader-beforereader iframe {
    visibility: hidden !important;
}

html.jizhureader-beforereader #jizhureader-iframe,
html > body.jizhureader-beforereader #jizhureader-iframe,
body.jizhureader-beforereader #jizhureader-iframe,
#jizhureader-iframe {
    display: block !important;
    overflow: auto !important;
    visibility: visible !important;
}