/*Piggy Reader
author @huntbao*/
#jizhureader-iframe {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    max-height: none !important;
    top: 0 !important;
    bottom: 0 !important;
    left: -100%;
    z-index: 2147483647 !important;
    transition: all ease 300ms;
}

#jizhureader-iframe.jizhureader-iframe-open {
    left: 0% !important;
}

#jz-page-lastmodified {
    position: fixed !important;
    top: 2px !important;
    left: 2px !important;
    padding: 5px !important;
    border-radius: 3px !important;
    background-color: #ccc !important;
    color: #666 !important;
    z-index: 2147483646 !important;
    font-family: tahoma !important;
    font-size: 10px !important;
    opacity: 0 !important;
    cursor: default !important;
    line-height: 10px !important;
    transition: ease all .5s !important;
}

#jz-page-lastmodified:hover {
    opacity: 1 !important;
}

html.jizhureader-beforereader,
html > body.jizhureader-beforereader,
body.jizhureader-beforereader {
    position: static !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

html.jizhureader-reader,
html > body.jizhureader-reader,
body.jizhureader-reader {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body.jizhureader-beforereader object,
body.jizhureader-beforereader embed,
body.jizhureader-beforereader iframe {
    visibility: hidden !important;
}

html.jizhureader-beforereader #jizhureader-iframe,
html > body.jizhureader-beforereader #jizhureader-iframe,
body.jizhureader-beforereader #jizhureader-iframe,
#jizhureader-iframe {
    display: block !important;
    overflow: auto !important;
    visibility: visible !important;
}