/*Piggy Reader
author @huntbao*/
* {
    padding: 0;
    margin: 0;
}

a:visited, a:link {
    color: #06c;
    text-decoration: none;
}

a:hover {
    color: #c00;
    text-decoration: underline;
}

body {
    background-color: #fff;
    color: #666;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1" /*yahei*/, sans-serif /*for mac*/;
    overflow: hidden;
}

.not-selectable {
    -webkit-user-select: none;
    user-select: none;
}

.wrapper {
    width: 672px;
    margin: 30px auto 0;
    overflow: hidden;
}

.settings {
    width: 652px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 28px auto;
    padding: 10px;
}

.settings h2 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.content {
    margin: 0 8px;
}

.content li {
    overflow: hidden;
    list-style: none;
    margin: 8px 0 30px;
    text-indent: 12px;
}

.content .sep-line {
    margin: 12px 0;
    width: 200px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-indent: 0px;
}

.content .tiptext {
    margin-bottom: 8px;
}

.content .tiptext2 {
    margin-bottom: 8px;
    color: #888;
}

.content label {
    margin: 0 20px 8px 0;
}

.content label input {
    margin-right: 4px;
    vertical-align: middle;
}

.content .optionname {
    float: left;
    width: 160px;
    margin-top: 2px;
}

.content .optionset {
    float: left;
    margin-right: 40px;
}

.saveto-tip {
    margin-left: 160px;
    clear: both;
}

.copyright {
    text-align: center;
}

.options-tip {
    opacity: 0;
    background-color: #600;
    padding: 8px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    float: left;
    transition: all ease .38s;
}

